<%- include('../partials/header') %>
    <div class="container">
       
    <%- include('../partials/introBody') %>
       
       
       
       
        <section>
        <p><a href="/create-blog">Add new</a></p>
            <div>
                <ul>
                    <li><%= %></li>
                    <li>Content</li>
                    <li>Date</li>
                </ul>
            </div>
        </section>
    </div>
    <%- include('../partials/footer') %>
