<%- include('../partials/header') %>
    <div class="container">
        <section id="intro-section">
            <%- include('../partials/introBody') %>
        </section>
        <section>
            <p><a href="/create-blog">Add new</a></p>
            <div>
                <ul>
                    <li>
                        Author
                    </li>
                    <li>Content</li>
                    <li>Date</li>
                </ul>
            </div>
        </section>
    </div>
    <%- include('../partials/footer') %>