<%- include('../partials/header') %>
    <div class='container'>
        <%- include('../partials/introBody') %>
            <section>
                <p>Content</p>
            </section>

    </div>
    <%- include('../partials/footer') %>
